{
    "openapi": "3.0.0",
    "info": {
        "title": "WildDuck API",
        "description": "WildDuck API docs",
        "contact": {
            "url": "https://github.com/nodemailer/wildduck"
        },
        "version": "1.45.3"
    },
    "servers": [
        {
            "url": "https://api.wildduck.email"
        }
    ],
    "tags": [
        {
            "name": "Addresses"
        },
        {
            "name": "ApplicationPasswords"
        },
        {
            "name": "Archive",
            "description": "Archive includes all deleted messages. Once messages are old enough then these are permanenetly deleted from the archive as well. Until then you can restore the deleted messages."
        },
        {
            "name": "Audit",
            "description": "Auditing allows to monitor an email account. All existing, deleted and new emails are copied to the auditing system. See also https://github.com/nodemailer/wildduck-audit-manager"
        },
        {
            "name": "Authentication"
        },
        {
            "name": "Autoreplies"
        },
        {
            "name": "Certs",
            "description": "WildDuck allows to register TLS certificates to be used with SNI connections. These certificates are used by IMAP, POP3, API and SMTP servers when a SNI capable client establishes a TLS connection. This does not apply for MX servers."
        },
        {
            "name": "DKIM",
            "description": "Whenever an email is sent WildDuck checks if there is a DKIM key registered for the domain name of the sender address and uses it to sign the message."
        },
        {
            "name": "DomainAccess",
            "description": "Add sender domain names to allowlist (messages are all accepted) or blocklist (messages are sent to Spam folder)"
        },
        {
            "name": "DomainAliases"
        },
        {
            "name": "Filters"
        },
        {
            "name": "Mailboxes"
        },
        {
            "name": "Messages"
        },
        {
            "name": "Settings"
        },
        {
            "name": "Storage",
            "description": "Storage allows easier attachment handling when composing Draft messages. Instead of uploading the attachmnent with every draft update, you store the attachment to the Storage and then link stored file for the Draft."
        },
        {
            "name": "Submission"
        },
        {
            "name": "TwoFactorAuth"
        },
        {
            "name": "Users"
        },
        {
            "name": "Webhooks"
        }
    ],
    "paths": {
        "/users": {
            "get": {
                "tags": [
                    "Users"
                ],
                "summary": "List registered Users",
                "operationId": "getUsers",
                "parameters": [
                    {
                        "name": "query",
                        "in": "query",
                        "description": "Partial match of username or default email address",
                        "required": false,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "forward",
                        "in": "query",
                        "description": "Partial match of a forward email address or URL",
                        "required": false,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "tags",
                        "in": "query",
                        "description": "Comma separated list of tags. The User must have at least one to be set",
                        "required": false,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "requiredTags",
                        "in": "query",
                        "description": "Comma separated list of tags. The User must have all listed tags to be set",
                        "required": false,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "metaData",
                        "in": "query",
                        "description": "If true, then includes metaData in the response",
                        "required": false,
                        "schema": {
                            "type": "boolean"
                        }
                    },
                    {
                        "name": "internalData",
                        "in": "query",
                        "description": "If true, then includes internalData in the response. Not shown for user-role tokens.",
                        "required": false,
                        "schema": {
                            "type": "boolean"
                        }
                    },
                    {
                        "name": "limit",
                        "in": "query",
                        "description": "How many records to return",
                        "required": false,
                        "schema": {
                            "type": "number"
                        }
                    },
                    {
                        "name": "next",
                        "in": "query",
                        "description": "Cursor value for next page, retrieved from nextCursor response value",
                        "required": false,
                        "example": "eyIkb2lkIjoiNWRmMWZkMmQ3NzkyNTExOGI2MDdjNjg0In0",
                        "schema": {
                            "type": "string",
                            "example": "eyIkb2lkIjoiNWRmMWZkMmQ3NzkyNTExOGI2MDdjNjg0In0"
                        }
                    },
                    {
                        "name": "previous",
                        "in": "query",
                        "description": "Cursor value for previous page, retrieved from previousCursor response value",
                        "required": false,
                        "example": "TMIjjIy23ZGM2kk0lIixygWomEknQDWdmzMNIkbNeO0NNjR",
                        "schema": {
                            "type": "string",
                            "example": "TMIjjIy23ZGM2kk0lIixygWomEknQDWdmzMNIkbNeO0NNjR"
                        }
                    },
                    {
                        "name": "page",
                        "in": "query",
                        "description": "Current page number. Informational only, page numbers start from 1",
                        "required": false,
                        "schema": {
                            "type": "number"
                        }
                    },
                    {
                        "name": "sess",
                        "in": "query",
                        "description": "Session identifier for the logs",
                        "required": false,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "ip",
                        "in": "query",
                        "description": "IP address for the logs ",
                        "required": false,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Success",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/GetUsersResponse"
                                }
                            }
                        }
                    }
                }
            },
            "post": {
                "tags": [
                    "Users"
                ],
                "summary": "Create new user",
                "operationId": "createUser",
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "type": "object",
                                "properties": {
                                    "username": {
                                        "type": "string",
                                        "description": "Username of the User. Dots are allowed but informational only (\"user.name\" is the same as \"username\")."
                                    },
                                    "password": {
                                        "type": "string",
                                        "description": "Password for the account. Set to boolean false to disable password usage for the master scope, Application Specific Passwords would still be allowed",
                                        "enum": [
                                            false,
                                            ""
                                        ]
                                    },
                                    "hashedPassword": {
                                        "type": "boolean",
                                        "description": "If true then password is already hashed, so store as is. Supported hashes: pbkdf2, bcrypt ($2a, $2y, $2b), md5 ($1), sha512 ($6), sha256 ($5), argon2 ($argon2d, $argon2i, $argon2id). Stored hashes are rehashed to pbkdf2 on first successful password check."
                                    },
                                    "allowUnsafe": {
                                        "type": "boolean",
                                        "description": "If false then validates provided passwords against Have I Been Pwned API. Experimental, so validation is disabled by default but will be enabled automatically in some future version of WildDuck."
                                    },
                                    "address": {
                                        "type": "string",
                                        "description": "Default email address for the User (autogenerated if not set)"
                                    },
                                    "emptyAddress": {
                                        "type": "boolean",
                                        "description": "If true then do not autogenerate missing email address for the User. Only needed if you want to create a user account that does not have any email address associated"
                                    },
                                    "language": {
                                        "type": "string",
                                        "description": "Language code for the User"
                                    },
                                    "retention": {
                                        "type": "number",
                                        "description": "Default retention time (in ms). Set to 0 to disable"
                                    },
                                    "name": {
                                        "type": "string",
                                        "description": "Name of the User"
                                    },
                                    "targets": {
                                        "type": "array",
                                        "items": {
                                            "type": "string"
                                        },
                                        "description": "An array of forwarding targets. The value could either be an email address or a relay url to next MX server (\"smtp://mx2.zone.eu:25\") or an URL where mail contents are POSTed to"
                                    },
                                    "spamLevel": {
                                        "type": "number",
                                        "description": "Relative scale for detecting spam. 0 means that everything is spam, 100 means that nothing is spam"
                                    },
                                    "quota": {
                                        "type": "number",
                                        "description": "Allowed quota of the user in bytes"
                                    },
                                    "recipients": {
                                        "type": "number",
                                        "description": "How many messages per 24 hour can be sent"
                                    },
                                    "forwards": {
                                        "type": "number",
                                        "description": "How many messages per 24 hour can be forwarded"
                                    },
                                    "filters": {
                                        "type": "number",
                                        "description": "How many filters are allowed for this account"
                                    },
                                    "requirePasswordChange": {
                                        "type": "boolean",
                                        "description": "If true then requires the user to change password, useful if password for the account was autogenerated"
                                    },
                                    "imapMaxUpload": {
                                        "type": "number",
                                        "description": "How many bytes can be uploaded via IMAP during 24 hour"
                                    },
                                    "imapMaxDownload": {
                                        "type": "number",
                                        "description": "How many bytes can be downloaded via IMAP during 24 hour"
                                    },
                                    "pop3MaxDownload": {
                                        "type": "number",
                                        "description": "How many bytes can be downloaded via POP3 during 24 hour"
                                    },
                                    "pop3MaxMessages": {
                                        "type": "number",
                                        "description": "How many latest messages to list in POP3 session"
                                    },
                                    "imapMaxConnections": {
                                        "type": "number",
                                        "description": "How many parallel IMAP connections are allowed"
                                    },
                                    "receivedMax": {
                                        "type": "number",
                                        "description": "How many messages can be received from MX during 60 seconds"
                                    },
                                    "fromWhitelist": {
                                        "type": "array",
                                        "items": {
                                            "type": "string"
                                        },
                                        "description": "A list of additional email addresses this user can send mail from. Wildcard is allowed."
                                    },
                                    "tags": {
                                        "type": "array",
                                        "items": {
                                            "type": "string"
                                        },
                                        "description": "A list of tags associated with this user"
                                    },
                                    "addTagsToAddress": {
                                        "type": "boolean",
                                        "description": "If true then autogenerated address gets the same tags as the user"
                                    },
                                    "uploadSentMessages": {
                                        "type": "boolean",
                                        "description": "If true then all messages sent through MSA are also uploaded to the Sent Mail folder. Might cause duplicates with some email clients, so disabled by default."
                                    },
                                    "mailboxes": {
                                        "$ref": "#/components/schemas/Mailboxes"
                                    },
                                    "disabledScopes": {
                                        "type": "array",
                                        "items": {
                                            "type": "string",
                                            "enum": [
                                                "imap",
                                                "pop3",
                                                "smtp"
                                            ]
                                        },
                                        "description": "List of scopes that are disabled for this user (\"imap\", \"pop3\", \"smtp\")"
                                    },
                                    "metaData": {
                                        "type": "object",
                                        "description": "Optional metadata, must be an object or JSON formatted string",
                                        "format": "any"
                                    },
                                    "internalData": {
                                        "type": "object",
                                        "description": "Optional metadata for internal use, must be an object or JSON formatted string of an object. Not available for user-role tokens",
                                        "format": "any"
                                    },
                                    "pubKey": {
                                        "type": "string",
                                        "description": "Public PGP key for the User that is used for encryption. Use empty string to remove the key"
                                    },
                                    "encryptMessages": {
                                        "type": "boolean",
                                        "description": "If true then received messages are encrypted"
                                    },
                                    "encryptForwarded": {
                                        "type": "boolean",
                                        "description": "If true then forwarded messages are encrypted"
                                    },
                                    "featureFlags": {
                                        "type": "object",
                                        "description": "Feature flags to specify",
                                        "properties": {
                                            "indexing": {
                                                "type": "boolean"
                                            }
                                        }
                                    },
                                    "sess": {
                                        "type": "string",
                                        "description": "Session identifier for the logs"
                                    },
                                    "ip": {
                                        "type": "string",
                                        "description": "IP address for the logs "
                                    }
                                },
                                "required": [
                                    "username",
                                    "password"
                                ]
                            }
                        }
                    },
                    "required": true
                },
                "parameters": [],
                "responses": {
                    "200": {
                        "description": "Success",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/CreateUserResponse"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/users/resolve/{username}": {
            "get": {
                "tags": [
                    "Users"
                ],
                "summary": "Resolve ID for a username",
                "operationId": "resolveUser",
                "parameters": [
                    {
                        "name": "username",
                        "in": "path",
                        "description": "Username of the User. Alphanumeric value. Must start with a letter, dots are allowed but informational only (\"user.name\" is the same as \"username\")",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "sess",
                        "in": "query",
                        "description": "Session identifier for the logs",
                        "required": false,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "ip",
                        "in": "query",
                        "description": "IP address for the logs ",
                        "required": false,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Success",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ResolveIdForUsernameResponse"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/users/{user}": {
            "get": {
                "tags": [
                    "Users"
                ],
                "summary": "Request User information",
                "operationId": "getUser",
                "parameters": [
                    {
                        "name": "user",
                        "in": "path",
                        "description": "Example: `507f1f77bcf86cd799439011`\nID of the User",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "sess",
                        "in": "query",
                        "description": "Session identifier for the logs",
                        "required": false,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "ip",
                        "in": "query",
                        "description": "IP address for the logs ",
                        "required": false,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Success",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/GetUserResponse"
                                }
                            }
                        }
                    }
                }
            },
            "put": {
                "tags": [
                    "Users"
                ],
                "summary": "Update User information",
                "operationId": "updateUser",
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "type": "object",
                                "properties": {
                                    "existingPassword": {
                                        "type": "string",
                                        "description": "If provided then validates against account password before applying any changes"
                                    },
                                    "password": {
                                        "type": "string",
                                        "description": "New password for the account. Set to boolean false to disable password usage for the master scope, Application Specific Passwords would still be allowed",
                                        "enum": [
                                            false,
                                            ""
                                        ]
                                    },
                                    "hashedPassword": {
                                        "type": "boolean",
                                        "description": "If true then password is already hashed, so store as is. Supported hashes: pbkdf2, bcrypt ($2a, $2y, $2b), md5 ($1), sha512 ($6), sha256 ($5), argon2 ($argon2d, $argon2i, $argon2id). Stored hashes are rehashed to pbkdf2 on first successful password check."
                                    },
                                    "allowUnsafe": {
                                        "type": "boolean",
                                        "description": "If false then validates provided passwords against Have I Been Pwned API. Experimental, so validation is disabled by default but will be enabled automatically in some future version of WildDuck."
                                    },
                                    "language": {
                                        "type": "string",
                                        "description": "Language code for the User"
                                    },
                                    "name": {
                                        "type": "string",
                                        "description": "Name of the User"
                                    },
                                    "targets": {
                                        "type": "array",
                                        "items": {
                                            "type": "string"
                                        },
                                        "description": "An array of forwarding targets. The value could either be an email address or a relay url to next MX server (\"smtp://mx2.zone.eu:25\") or an URL where mail contents are POSTed to"
                                    },
                                    "spamLevel": {
                                        "type": "number",
                                        "description": "Relative scale for detecting spam. 0 means that everything is spam, 100 means that nothing is spam"
                                    },
                                    "uploadSentMessages": {
                                        "type": "boolean",
                                        "description": "If true then all messages sent through MSA are also uploaded to the Sent Mail folder. Might cause duplicates with some email clients, so disabled by default."
                                    },
                                    "fromWhitelist": {
                                        "type": "array",
                                        "items": {
                                            "type": "string"
                                        },
                                        "description": "A list of additional email addresses this user can send mail from. Wildcard is allowed."
                                    },
                                    "metaData": {
                                        "type": "object",
                                        "description": "Optional metadata, must be an object or JSON formatted string",
                                        "format": "any"
                                    },
                                    "internalData": {
                                        "type": "object",
                                        "description": "Optional internal metadata, must be an object or JSON formatted string of an object. Not available for user-role tokens",
                                        "format": "any"
                                    },
                                    "pubKey": {
                                        "type": "string",
                                        "description": "Public PGP key for the User that is used for encryption. Use empty string to remove the key"
                                    },
                                    "encryptMessages": {
                                        "type": "boolean",
                                        "description": "If true then received messages are encrypted"
                                    },
                                    "encryptForwarded": {
                                        "type": "boolean",
                                        "description": "If true then forwarded messages are encrypted"
                                    },
                                    "retention": {
                                        "type": "number",
                                        "description": "Default retention time (in ms). Set to 0 to disable"
                                    },
                                    "quota": {
                                        "type": "number",
                                        "description": "Allowed quota of the user in bytes"
                                    },
                                    "recipients": {
                                        "type": "number",
                                        "description": "How many messages per 24 hour can be sent"
                                    },
                                    "forwards": {
                                        "type": "number",
                                        "description": "How many messages per 24 hour can be forwarded"
                                    },
                                    "filters": {
                                        "type": "number",
                                        "description": "How many filters are allowed for this account"
                                    },
                                    "imapMaxUpload": {
                                        "type": "number",
                                        "description": "How many bytes can be uploaded via IMAP during 24 hour"
                                    },
                                    "imapMaxDownload": {
                                        "type": "number",
                                        "description": "How many bytes can be downloaded via IMAP during 24 hour"
                                    },
                                    "pop3MaxDownload": {
                                        "type": "number",
                                        "description": "How many bytes can be downloaded via POP3 during 24 hour"
                                    },
                                    "pop3MaxMessages": {
                                        "type": "number",
                                        "description": "How many latest messages to list in POP3 session"
                                    },
                                    "imapMaxConnections": {
                                        "type": "number",
                                        "description": "How many parallel IMAP connections are allowed"
                                    },
                                    "receivedMax": {
                                        "type": "number",
                                        "description": "How many messages can be received from MX during 60 seconds"
                                    },
                                    "disable2fa": {
                                        "type": "boolean",
                                        "description": "If true, then disables 2FA for this user"
                                    },
                                    "tags": {
                                        "type": "array",
                                        "items": {
                                            "type": "string"
                                        },
                                        "description": "A list of tags associated with this user"
                                    },
                                    "disabledScopes": {
                                        "type": "array",
                                        "items": {
                                            "type": "string",
                                            "enum": [
                                                "imap",
                                                "pop3",
                                                "smtp"
                                            ]
                                        },
                                        "description": "List of scopes that are disabled for this user (\"imap\", \"pop3\", \"smtp\")"
                                    },
                                    "disabled": {
                                        "type": "boolean",
                                        "description": "If true then disables user account (can not login, can not receive messages)"
                                    },
                                    "featureFlags": {
                                        "type": "object",
                                        "description": "Enabled feature flags",
                                        "properties": {
                                            "indexing": {
                                                "type": "boolean"
                                            }
                                        }
                                    },
                                    "suspended": {
                                        "type": "boolean",
                                        "description": "If true then disables authentication"
                                    },
                                    "sess": {
                                        "type": "string",
                                        "description": "Session identifier for the logs"
                                    },
                                    "ip": {
                                        "type": "string",
                                        "description": "IP address for the logs "
                                    }
                                }
                            }
                        }
                    },
                    "required": true
                },
                "parameters": [
                    {
                        "name": "user",
                        "in": "path",
                        "description": "Example: `507f1f77bcf86cd799439011`\nID of the User",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Success",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/SuccessResponse"
                                }
                            }
                        }
                    }
                }
            },
            "delete": {
                "tags": [
                    "Users"
                ],
                "summary": "Delete a User",
                "description": "This method deletes user and address entries from DB and schedules a background task to delete messages. You can call this method several times even if the user has already been deleted, in case there are still some pending messages.",
                "operationId": "deleteUser",
                "parameters": [
                    {
                        "name": "user",
                        "in": "path",
                        "description": "Example: `507f1f77bcf86cd799439011`\nID of the User",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "deleteAfter",
                        "in": "query",
                        "description": "Delete user entry from registry but keep all user data until provided date. User account is fully recoverable up to that date.",
                        "required": false,
                        "schema": {
                            "type": "string",
                            "format": "date-time",
                            "enum": [
                                false
                            ]
                        }
                    },
                    {
                        "name": "sess",
                        "in": "query",
                        "description": "Session identifier for the logs",
                        "required": false,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "ip",
                        "in": "query",
                        "description": "IP address for the logs ",
                        "required": false,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Success",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/DeleteUserResponse"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/users/{user}/logout": {
            "put": {
                "tags": [
                    "Users"
                ],
                "summary": "Log out User",
                "operationId": "logoutUser",
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "type": "object",
                                "properties": {
                                    "reason": {
                                        "type": "string",
                                        "description": "Message to be shown to connected IMAP client"
                                    },
                                    "sess": {
                                        "type": "string",
                                        "description": "Session identifier for the logs"
                                    },
                                    "ip": {
                                        "type": "string",
                                        "description": "IP address for the logs "
                                    }
                                }
                            }
                        }
                    },
                    "required": true
                },
                "parameters": [
                    {
                        "name": "user",
                        "in": "path",
                        "description": "Example: `507f1f77bcf86cd799439011`\nID of the User",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Success",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/SuccessResponse"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/users/{user}/quota/reset": {
            "post": {
                "tags": [
                    "Users"
                ],
                "summary": "Recalculate User quota",
                "description": "This method recalculates quota usage for a User. Normally not needed, only use it if quota numbers are way off. This method is not transactional, so if the user is currently receiving new messages then the resulting value is not exact.",
                "operationId": "recalculateQuota",
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "type": "object",
                                "properties": {
                                    "sess": {
                                        "type": "string",
                                        "description": "Session identifier for the logs"
                                    },
                                    "ip": {
                                        "type": "string",
                                        "description": "IP address for the logs "
                                    }
                                }
                            }
                        }
                    },
                    "required": true
                },
                "parameters": [
                    {
                        "name": "user",
                        "in": "path",
                        "description": "Example: `507f1f77bcf86cd799439011`\nID of the User",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Success",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/RecalculateQuotaResponse"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/quota/reset": {
            "post": {
                "tags": [
                    "Users"
                ],
                "summary": "Recalculate Quota for all Users",
                "description": "This method recalculates quota usage for all Users. Normally not needed, only use it if quota numbers are way off. This method is not transactional, so if the user is currently receiving new messages then the resulting value is not exact.",
                "operationId": "recalculateQuotaAllUsers",
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "type": "object",
                                "properties": {
                                    "sess": {
                                        "type": "string",
                                        "description": "Session identifier for the logs"
                                    },
                                    "ip": {
                                        "type": "string",
                                        "description": "IP address for the logs "
                                    }
                                }
                            }
                        }
                    },
                    "required": true
                },
                "parameters": [],
                "responses": {
                    "200": {
                        "description": "Success",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "success": {
                                            "type": "boolean",
                                            "description": "Indicates successful response",
                                            "example": true
                                        },
                                        "task": {
                                            "type": "string",
                                            "description": "Task ID"
                                        }
                                    },
                                    "required": [
                                        "success",
                                        "task"
                                    ]
                                }
                            }
                        }
                    }
                }
            }
        },
        "/data/export": {
            "post": {
                "tags": [
                    "Export"
                ],
                "summary": "Export data",
                "description": "Export data for matching users. Export dump does not include emails, only account structure (user data, password hashes, mailboxes, filters, etc.). A special \"export\"-role access token is required for exporting and importing.",
                "operationId": "createExport",
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "type": "object",
                                "properties": {
                                    "users": {
                                        "type": "array",
                                        "items": {
                                            "type": "string"
                                        },
                                        "description": "An array of User ID values to export"
                                    },
                                    "tags": {
                                        "type": "array",
                                        "items": {
                                            "type": "string"
                                        },
                                        "description": "An array of user tags to export. If set then at least one tag must exist on an user."
                                    },
                                    "sess": {
                                        "type": "string",
                                        "description": "Session identifier for the logs"
                                    },
                                    "ip": {
                                        "type": "string",
                                        "description": "IP address for the logs "
                                    }
                                }
                            }
                        }
                    },
                    "required": true
                },
                "parameters": [],
                "responses": {
                    "200": {
                        "description": "Success",
                        "content": {
                            "application/octet-stream": {
                                "schema": {
                                    "type": "string",
                                    "format": "binary"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/data/import": {
            "post": {
                "tags": [
                    "Export"
                ],
                "summary": "Import user data",
                "description": "Import data from an export dump. If a database entry already exists, it is not modified. A special \"export\"-role access token is required for exporting and importing.",
                "operationId": "createImport",
                "parameters": [],
                "responses": {
                    "200": {
                        "description": "Success",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/CreateImportResponse"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/users/{user}/password/reset": {
            "post": {
                "tags": [
                    "Users"
                ],
                "summary": "Reset password for a User",
                "description": "This method generates a new temporary password for a User. Additionally it removes all two-factor authentication settings",
                "operationId": "resetUserPassword",
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "type": "object",
                                "properties": {
                                    "validAfter": {
                                        "type": "string",
                                        "description": "Allow using the generated password not earlier than provided time",
                                        "format": "date-time",
                                        "enum": [
                                            false
                                        ]
                                    },
                                    "sess": {
                                        "type": "string",
                                        "description": "Session identifier for the logs"
                                    },
                                    "ip": {
                                        "type": "string",
                                        "description": "IP address for the logs "
                                    }
                                }
                            }
                        }
                    },
                    "required": true
                },
                "parameters": [
                    {
                        "name": "user",
                        "in": "path",
                        "description": "Example: `507f1f77bcf86cd799439011`\nID of the User",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Success",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ResetUserPasswordResponse"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/users/{user}/restore": {
            "get": {
                "tags": [
                    "Users"
                ],
                "summary": "Return recovery info for a deleted user",
                "operationId": "restoreUserInfo",
                "parameters": [
                    {
                        "name": "user",
                        "in": "path",
                        "description": "Example: `507f1f77bcf86cd799439011`\nID of the User",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "sess",
                        "in": "query",
                        "description": "Session identifier for the logs",
                        "required": false,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "ip",
                        "in": "query",
                        "description": "IP address for the logs ",
                        "required": false,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Success",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/RecoverInfoResponse"
                                }
                            }
                        }
                    }
                }
            },
            "post": {
                "tags": [
                    "Users"
                ],
                "summary": "Cancel user deletion task",
                "description": "Use this endpoint to cancel a timed deletion task scheduled by DELETE /user/{id}. If user data is not yet deleted then the account is fully recovered, except any email addresses that might have been already recycled",
                "operationId": "cancelUserDelete",
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "type": "object",
                                "properties": {
                                    "sess": {
                                        "type": "string",
                                        "description": "Session identifier for the logs"
                                    },
                                    "ip": {
                                        "type": "string",
                                        "description": "IP address for the logs "
                                    }
                                }
                            }
                        }
                    },
                    "required": true
                },
                "parameters": [
                    {
                        "name": "user",
                        "in": "path",
                        "description": "Example: `507f1f77bcf86cd799439011`\nID of the User",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Success",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/CancelUserDeletionResponse"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/addresses": {
            "get": {
                "tags": [
                    "Addresses"
                ],
                "summary": "List registered Addresses",
                "operationId": "getAddresses",
                "parameters": [
                    {
                        "name": "query",
                        "in": "query",
                        "description": "Partial match of an address",
                        "required": false,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "forward",
                        "in": "query",
                        "description": "Partial match of a forward email address or URL",
                        "required": false,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "tags",
                        "in": "query",
                        "description": "Comma separated list of tags. The Address must have at least one to be set",
                        "required": false,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "requiredTags",
                        "in": "query",
                        "description": "Comma separated list of tags. The Address must have all listed tags to be set",
                        "required": false,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "metaData",
                        "in": "query",
                        "description": "If true, then includes metaData in the response",
                        "required": false,
                        "schema": {
                            "type": "boolean"
                        }
                    },
                    {
                        "name": "internalData",
                        "in": "query",
                        "description": "If true, then includes internalData in the response. Not shown for user-role tokens.",
                        "required": false,
                        "schema": {
                            "type": "boolean"
                        }
                    },
                    {
                        "name": "limit",
                        "in": "query",
                        "description": "How many records to return",
                        "required": false,
                        "schema": {
                            "type": "number"
                        }
                    },
                    {
                        "name": "next",
                        "in": "query",
                        "description": "Cursor value for next page, retrieved from nextCursor response value",
                        "required": false,
                        "example": "eyIkb2lkIjoiNWRmMWZkMmQ3NzkyNTExOGI2MDdjNjg0In0",
                        "schema": {
                            "type": "string",
                            "example": "eyIkb2lkIjoiNWRmMWZkMmQ3NzkyNTExOGI2MDdjNjg0In0"
                        }
                    },
                    {
                        "name": "previous",
                        "in": "query",
                        "description": "Cursor value for previous page, retrieved from previousCursor response value",
                        "required": false,
                        "example": "TMIjjIy23ZGM2kk0lIixygWomEknQDWdmzMNIkbNeO0NNjR",
                        "schema": {
                            "type": "string",
                            "example": "TMIjjIy23ZGM2kk0lIixygWomEknQDWdmzMNIkbNeO0NNjR"
                        }
                    },
                    {
                        "name": "page",
                        "in": "query",
                        "description": "Current page number. Informational only, page numbers start from 1",
                        "required": false,
                        "schema": {
                            "type": "number"
                        }
                    },
                    {
                        "name": "sess",
                        "in": "query",
                        "description": "Session identifier for the logs",
                        "required": false,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "ip",
                        "in": "query",
                        "description": "IP address for the logs ",
                        "required": false,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Success",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/GetAddressesResponse"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/users/{user}/addresses": {
            "post": {
                "tags": [
                    "Addresses"
                ],
                "summary": "Create new Address",
                "description": "Add a new email address for a User. Addresses can contain unicode characters. Dots in usernames are normalized so no need to create both \"firstlast@example.com\" and \"first.last@example.com\" Special addresses `*@example.com`, `*suffix@example.com` and `username@*` catches all emails to these domains or users without a registered destination (requires allowWildcard argument)",
                "operationId": "createUserAddress",
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "type": "object",
                                "properties": {
                                    "address": {
                                        "oneOf": [
                                            {
                                                "type": "string",
                                                "description": "E-mail Address"
                                            },
                                            {
                                                "type": "string"
                                            }
                                        ],
                                        "description": "E-mail Address"
                                    },
                                    "name": {
                                        "type": "string",
                                        "description": "Identity name"
                                    },
                                    "main": {
                                        "type": "boolean",
                                        "description": "Indicates if this is the default address for the User"
                                    },
                                    "allowWildcard": {
                                        "type": "boolean",
                                        "description": "If true then address value can be in the form of `*@example.com`, `*suffix@example.com` and `username@*`, otherwise using * is not allowed. Static suffix can be up to 32 characters long."
                                    },
                                    "tags": {
                                        "type": "array",
                                        "items": {
                                            "type": "string"
                                        },
                                        "description": "A list of tags associated with this address"
                                    },
                                    "metaData": {
                                        "type": "object",
                                        "description": "Optional metadata, must be an object or JSON formatted string",
                                        "format": "any"
                                    },
                                    "internalData": {
                                        "type": "object",
                                        "description": "Optional metadata for internal use, must be an object or JSON formatted string of an object. Not available for user-role tokens",
                                        "format": "any"
                                    },
                                    "sess": {
                                        "type": "string",
                                        "description": "Session identifier for the logs"
                                    },
                                    "ip": {
                                        "type": "string",
                                        "description": "IP address for the logs "
                                    }
                                }
                            }
                        }
                    },
                    "required": true
                },
                "parameters": [
                    {
                        "name": "user",
                        "in": "path",
                        "description": "Example: `507f1f77bcf86cd799439011`\nID of the User",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Success",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/CreateUserAddressResponse"
                                }
                            }
                        }
                    }
                }
            },
            "get": {
                "tags": [
                    "Addresses"
                ],
                "summary": "List registered Addresses for a User",
                "operationId": "getUserAddresses",
                "parameters": [
                    {
                        "name": "user",
                        "in": "path",
                        "description": "Example: `507f1f77bcf86cd799439011`\nID of the User",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "metaData",
                        "in": "query",
                        "description": "If true, then includes metaData in the response",
                        "required": false,
                        "schema": {
                            "type": "boolean"
                        }
                    },
                    {
                        "name": "internalData",
                        "in": "query",
                        "description": "If true, then includes internalData in the response. Not shown for user-role tokens.",
                        "required": false,
                        "schema": {
                            "type": "boolean"
                        }
                    },
                    {
                        "name": "sess",
                        "in": "query",
                        "description": "Session identifier for the logs",
                        "required": false,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "ip",
                        "in": "query",
                        "description": "IP address for the logs ",
                        "required": false,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Success",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/GetUserAddressesResponse"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/users/{user}/addresses/{address}": {
            "get": {
                "tags": [
                    "Addresses"
                ],
                "summary": "Request Addresses information",
                "operationId": "getUserAddress",
                "parameters": [
                    {
                        "name": "user",
                        "in": "path",
                        "description": "Example: `507f1f77bcf86cd799439011`\nID of the User",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "address",
                        "in": "path",
                        "description": "ID of the Address",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "sess",
                        "in": "query",
                        "description": "Session identifier for the logs",
                        "required": false,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "ip",
                        "in": "query",
                        "description": "IP address for the logs ",
                        "required": false,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Success",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/GetUserAddressResponse"
                                }
                            }
                        }
                    }
                }
            },
            "delete": {
                "tags": [
                    "Addresses"
                ],
                "summary": "Delete an Address",
                "operationId": "deleteUserAddress",
                "parameters": [
                    {
                        "name": "user",
                        "in": "path",
                        "description": "Example: `507f1f77bcf86cd799439011`\nID of the User",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "address",
                        "in": "path",
                        "description": "ID of the Address",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "sess",
                        "in": "query",
                        "description": "Session identifier for the logs",
                        "required": false,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "ip",
                        "in": "query",
                        "description": "IP address for the logs ",
                        "required": false,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Success",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/SuccessResponse"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/users/{user}/addresses/{id}": {
            "put": {
                "tags": [
                    "Addresses"
                ],
                "summary": "Update Address information",
                "operationId": "updateUserAddress",
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "type": "object",
                                "properties": {
                                    "name": {
                                        "type": "string",
                                        "description": "Identity name"
                                    },
                                    "address": {
                                        "type": "string",
                                        "description": "New address if you want to rename existing address. Only affects normal addresses, special addresses that include * can not be changed"
                                    },
                                    "main": {
                                        "type": "boolean",
                                        "description": "Indicates if this is the default address for the User"
                                    },
                                    "tags": {
                                        "type": "array",
                                        "items": {
                                            "type": "string"
                                        },
                                        "description": "A list of tags associated with this address"
                                    },
                                    "metaData": {
                                        "type": "object",
                                        "description": "Optional metadata, must be an object or JSON formatted string",
                                        "format": "any"
                                    },
                                    "internalData": {
                                        "type": "object",
                                        "description": "Optional metadata for internal use, must be an object or JSON formatted string of an object. Not available for user-role tokens",
                                        "format": "any"
                                    },
                                    "sess": {
                                        "type": "string",
                                        "description": "Session identifier for the logs"
                                    },
                                    "ip": {
                                        "type": "string",
                                        "description": "IP address for the logs "
                                    }
                                }
                            }
                        }
                    },
                    "required": true
                },
                "parameters": [
                    {
                        "name": "user",
                        "in": "path",
                        "description": "Example: `507f1f77bcf86cd799439011`\nID of the User",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "id",
                        "in": "path",
                        "description": "ID of the Address",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Success",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/SuccessResponse"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/users/{user}/addressregister": {
            "get": {
                "tags": [
                    "Addresses"
                ],
                "summary": "List addresses from communication register",
                "operationId": "getUserAddressregister",
                "parameters": [
                    {
                        "name": "user",
                        "in": "path",
                        "description": "Example: `507f1f77bcf86cd799439011`\nID of the User",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "query",
                        "in": "query",
                        "description": "Prefix of an address or a name",
                        "required": true,
                        "example": "`query=john`",
                        "schema": {
                            "type": "string",
                            "example": "`query=john`"
                        }
                    },
                    {
                        "name": "limit",
                        "in": "query",
                        "description": "How many records to return",
                        "required": false,
                        "example": "`limit=25`",
                        "schema": {
                            "type": "number",
                            "example": "`limit=25`"
                        }
                    },
                    {
                        "name": "sess",
                        "in": "query",
                        "description": "Session identifier for the logs",
                        "required": false,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "ip",
                        "in": "query",
                        "description": "IP address for the logs ",
                        "required": false,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Success",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/GetUserAddressregisterResponse"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/addresses/forwarded": {
            "post": {
                "tags": [
                    "Addresses"
                ],
                "summary": "Create new forwarded Address",
                "description": "Add a new forwarded email address. Addresses can contain unicode characters. Dots in usernames are normalized so no need to create both \"firstlast@example.com\" and \"first.last@example.com\" Special addresses `*@example.com` and `username@*` catches all emails to these domains or users without a registered destination (requires allowWildcard argument)",
                "operationId": "createForwardedAddress",
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "type": "object",
                                "properties": {
                                    "address": {
                                        "oneOf": [
                                            {
                                                "type": "string",
                                                "description": "E-mail Address"
                                            },
                                            {
                                                "type": "string"
                                            }
                                        ],
                                        "description": "E-mail Address"
                                    },
                                    "name": {
                                        "type": "string",
                                        "description": "Identity name"
                                    },
                                    "targets": {
                                        "type": "array",
                                        "items": {
                                            "type": "string"
                                        },
                                        "description": "An array of forwarding targets. The value could either be an email address or a relay url to next MX server (\"smtp://mx2.zone.eu:25\") or an URL where mail contents are POSTed to"
                                    },
                                    "forwards": {
                                        "type": "number",
                                        "description": "Daily allowed forwarding count for this address"
                                    },
                                    "allowWildcard": {
                                        "type": "boolean",
                                        "description": "If true then address value can be in the form of `*@example.com`, otherwise using * is not allowed"
                                    },
                                    "autoreply": {
                                        "$ref": "#/components/schemas/Autoreply"
                                    },
                                    "tags": {
                                        "type": "array",
                                        "items": {
                                            "type": "string"
                                        },
                                        "description": "A list of tags associated with this address"
                                    },
                                    "metaData": {
                                        "type": "object",
                                        "description": "Optional metadata, must be an object or JSON formatted string",
                                        "format": "any"
                                    },
                                    "internalData": {
                                        "type": "object",
                                        "description": "Optional metadata for internal use, must be an object or JSON formatted string of an object. Not available for user-role tokens",
                                        "format": "any"
                                    },
                                    "sess": {
                                        "type": "string",
                                        "description": "Session identifier for the logs"
                                    },
                                    "ip": {
                                        "type": "string",
                                        "description": "IP address for the logs "
                                    }
                                },
                                "required": [
                                    "address"
                                ]
                            }
                        }
                    },
                    "required": true
                },
                "parameters": [],
                "responses": {
                    "200": {
                        "description": "Success",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/CreateForwardedAddressResponse"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/addresses/forwarded/{id}": {
            "put": {
                "tags": [
                    "Addresses"
                ],
                "summary": "Update forwarded Address information",
                "operationId": "updateForwardedAddress",
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "type": "object",
                                "properties": {
                                    "address": {
                                        "type": "string",
                                        "description": "New address. Only affects normal addresses, special addresses that include * can not be changed"
                                    },
                                    "name": {
                                        "type": "string",
                                        "description": "Identity name"
                                    },
                                    "targets": {
                                        "type": "array",
                                        "items": {
                                            "type": "string"
                                        },
                                        "description": "An array of forwarding targets. The value could either be an email address or a relay url to next MX server (\"smtp://mx2.zone.eu:25\") or an URL where mail contents are POSTed to. If set then overwrites previous targets array"
                                    },
                                    "forwards": {
                                        "type": "number",
                                        "description": "Daily allowed forwarding count for this address"
                                    },
                                    "autoreply": {
                                        "$ref": "#/components/schemas/Autoreply"
                                    },
                                    "tags": {
                                        "type": "array",
                                        "items": {
                                            "type": "string"
                                        },
                                        "description": "A list of tags associated with this address"
                                    },
                                    "metaData": {
                                        "type": "object",
                                        "description": "Optional metadata, must be an object or JSON formatted string",
                                        "format": "any"
                                    },
                                    "internalData": {
                                        "type": "object",
                                        "description": "Optional metadata for internal use, must be an object or JSON formatted string of an object. Not available for user-role tokens",
                                        "format": "any"
                                    },
                                    "forwardedDisabled": {
                                        "type": "boolean",
                                        "description": "If true then disables forwarded address (stops forwarding messages)"
                                    },
                                    "sess": {
                                        "type": "string",
                                        "description": "Session identifier for the logs"
                                    },
                                    "ip": {
                                        "type": "string",
                                        "description": "IP address for the logs "
                                    }
                                }
                            }
                        }
                    },
                    "required": true
                },
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "ID of the Address",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Success",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/SuccessResponse"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/addresses/forwarded/{address}": {
            "delete": {
                "tags": [
                    "Addresses"
                ],
                "summary": "Delete a forwarded Address",
                "operationId": "deleteForwardedAddress",
                "parameters": [
                    {
                        "name": "address",
                        "in": "path",
                        "description": "ID of the Address",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "sess",
                        "in": "query",
                        "description": "Session identifier for the logs",
                        "required": false,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "ip",
                        "in": "query",
                        "description": "IP address for the logs ",
                        "required": false,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Success",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/SuccessResponse"
                                }
                            }
                        }
                    }
                }
            },
            "get": {
                "tags": [
                    "Addresses"
                ],
                "summary": "Request forwarded Addresses information",
                "operationId": "getForwardedAddress",
                "parameters": [
                    {
                        "name": "address",
                        "in": "path",
                        "description": "ID of the Address",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "sess",
                        "in": "query",
                        "description": "Session identifier for the logs",
                        "required": false,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "ip",
                        "in": "query",
                        "description": "IP address for the logs ",
                        "required": false,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Success",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/GetForwardedAddressResponse"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/addresses/resolve/{address}": {
            "get": {
                "tags": [
                    "Addresses"
                ],
                "summary": "Get Address info",
                "operationId": "resolveAddress",
                "parameters": [
                    {
                        "name": "address",
                        "in": "path",
                        "description": "ID of the Address or e-mail address string",
                        "required": true,
                        "schema": {
                            "oneOf": [
                                {
                                    "type": "string",
                                    "description": "ID of the Address"
                                },
                                {
                                    "type": "string",
                                    "description": "E-mail Address"
                                }
                            ]
                        }
                    },
                    {
                        "name": "allowWildcard",
                        "in": "query",
                        "description": "If true then resolves also wildcard addresses",
                        "required": false,
                        "schema": {
                            "type": "boolean"
                        }
                    },
                    {
                        "name": "sess",
                        "in": "query",
                        "description": "Session identifier for the logs",
                        "required": false,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "ip",
                        "in": "query",
                        "description": "IP address for the logs ",
                        "required": false,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Success",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ResolveAddressResponse"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/addresses/renameDomain": {
            "put": {
                "tags": [
                    "Addresses"
                ],
                "summary": "Rename domain in addresses",
                "description": "Renames domain names for addresses, DKIM keys and Domain Aliases",
                "operationId": "renameDomain",
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "type": "object",
                                "properties": {
                                    "oldDomain": {
                                        "type": "string",
                                        "description": "Old Domain Name"
                                    },
                                    "newDomain": {
                                        "type": "string",
                                        "description": "New Domain Name"
                                    },
                                    "sess": {
                                        "type": "string",
                                        "description": "Session identifier for the logs"
                                    },
                                    "ip": {
[...]
